#__next {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.pulse {
  background: rgb(66, 165, 245);
  border-radius: 50%;
  height: 15px;
  width: 15px;

  box-shadow: 0 0 0 0 rgba(66, 165, 245, 1);
  transform: scale(1);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(66, 165, 245, 0.7);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(66, 165, 245, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(66, 165, 245, 0);
  }
}
